<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="nom" placeholder="Nom" [(ngModel)]="nom">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="prenom" placeholder="Prenom" [(ngModel)]="prenom">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="dateNaissance" placeholder="jj/mm/aaaa" [(ngModel)]="dateNaissance">
    </div>
  </div>
</form>
<div class="row">
  <div class="col-4">
    <app-matrice-nbre [nom]="nom" [prenom]="prenom"></app-matrice-nbre>
  </div>
  <div class="col-8">
      <br>
      <app-nbres-dominants [nom]="nom" [prenom]="prenom"></app-nbres-dominants>
      <app-nbres-manquants [nom]="nom" [prenom]="prenom"></app-nbres-manquants>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <app-nbre-hereditaire [nom]="nom"></app-nbre-hereditaire>
  </div>
  <div class="col">
    <app-nbre-actif [prenom]="prenom"></app-nbre-actif>
  </div>
  <div class="col">
    <app-nbre-intime [nom]="nom" [prenom]="prenom"></app-nbre-intime>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <app-nbre-realisation [nom]="nom" [prenom]="prenom"></app-nbre-realisation>
  </div>
  <div class="col">
    <app-nbre-expression [nom]="nom" [prenom]="prenom"></app-nbre-expression>
  </div>
  <div class="col">
    <app-chemin-vie [dateNaissance]="dateNaissance"></app-chemin-vie>
  </div>
</div>
<br>
