<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b><i>Numerolog</i></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/personnel'">Personnel<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="'/couple'">Couple</a>
      <a class="nav-item nav-link" [routerLink]="'/entreprise'">Entreprise</a>
      <a class="nav-item nav-link" [routerLink]="'/habitation'">Habitation</a>
      <a class="nav-item nav-link" [routerLink]="'/vehicule'">Vehicule</a>
      <a class="nav-item nav-link" [routerLink]="'/conseils'">Conseils</a>
    </div>
  </div>
</nav>
<br>
